{% extends "polls/base.html" %}

{% block content %}
    <h1>{{ question.question_text }}</h1>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <li>
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            </li>
        {% endfor %}
        <br>
        <input type="submit" value="Vote">
        
    </form>
    <div>
    <br>
    {% if user == question.user %}
        <a href="{% url 'polls:edit_question' question.id %}">Edit</a> 
        <a href="{% url 'polls:delete_question' question.id %}">Delete</a>
    {% endif %}
    </div>
    <div>
        <br>
        <a href="{% url 'polls:index' %}">Back to polls</a>
    </div>
    
{% endblock %}